::selection {
  background: #ED6A17;
}

a.text-decoration-none {
  color: #ED6A17!important;
}

a.text-decoration-none:hover {
  color: #c95b15!important;
}

.btn-orange {
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #ED6A17;
  --bs-btn-color: #30363d;
  --bs-btn-bg: var(--bs-white);
}

.link-icon:hover {
  color: #ED6A17!important;
}

.bg-gray {
  background-color: #30363d;
}

.bg-orange {
  background-color: #ED6A17;
}

.vh-25 {
  height: 25vh;
}

@media (min-width: 576px) {
  .vh-sm-100 {
    height: 100vh;
  }
}